body {
  background: #eee;
  text-align: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.cell {
  height: 122px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1px;
  background: rgb(202, 194, 149);
  border: rgb(109, 109, 109) 2px solid;
}

.img_goblin {
  max-width: 100%;
  max-height: 100%;
}